<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Home - Paws Rescue Center</title>
    <link rel="stylesheet" href="{{url_for('static', filename='project_1_style.css')}}" />
</head>
<body>
  <h1 id = "title"><center>Paws Rescue Center 🐾</center></h1>
  <table>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Age</th>
      <th>Bio</th>
    </tr>
    {% for pet in pets_col %}
    <tr>
        <td>
          <a href="{{url_for('details', pet_id = pet['id'])}}">
          <img src= "{{url_for('static', filename = pet["id"]|string+".jpg")}}" height="100" >
          </a>
        </td>
      <td>{{ pet["name"] }}</td>
      <td>{{ pet["age"] }}</td>
      <td>{{ pet["bio"] }}</td>
    </tr>
    {% endfor %}
  </table>
</body>
</html>